:root {
  /* COLORS */
  /* primary */
  --blue: hsl(223, 87%, 63%);
  /* secondary */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  /* neutral */
  --gray: rgb(150, 150, 150);
  --very-dark-blue: hsl(209, 33%, 12%);
  /* FONT WEIGHT */
  --thin: 300;
  --thicker: 600;
  --thick: 700;
  /* media queries */
  --mobile: 375px;
  --desktop: 1440px; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Libre Franklin', sans-serif; }

.container {
  max-width: 70rem;
  width: 60%;
  height: 80vh;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  margin-bottom: 5rem; }

/* main */
main {
  text-align: center;
  width: 90%; }
  main h1 {
    font-size: 4.7rem;
    color: var(--gray);
    font-weight: var(--thin);
    margin-bottom: 1.6rem;
    letter-spacing: 1.1px; }
  main h1 > strong {
    color: black; }
  main h4 {
    font-weight: var(--thin);
    color: var(--very-dark-blue);
    font-size: 2rem; }

form.subscription {
  margin: 3.8rem auto 9rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.email {
  width: 66%;
  height: 5.5rem;
  font-size: 1.7rem;
  padding: 1.5rem 2.5rem;
  border-radius: 4rem;
  border: none;
  position: relative;
  box-shadow: 0 0 1px 0.2px var(--gray);
  /* state for email input */ }
  .email:focus {
    outline: none;
    box-shadow: 0 0 0 0.2px var(--gray); }
  .email:invalid {
    border: 0.6px solid var(--light-red);
    box-shadow: 0 0 0 0.2px var(--gray); }
  .email:invalid + .error-message {
    display: block;
    opacity: 1;
    visibility: visible; }

span.error-message {
  position: absolute;
  top: 37.5rem;
  left: 50.5rem;
  display: none;
  visibility: hidden;
  opacity: 0;
  color: var(--light-red);
  font-style: italic;
  font-size: 1.4rem; }

.submit-button {
  background-color: var(--blue);
  color: #f4f5f8;
  height: 5.5rem;
  width: 31%;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  font-weight: var(--thick);
  font-size: 1.7rem;
  margin: 0;
  border: none;
  box-shadow: 0 4px 12px 1px var(--pale-blue);
  transition: opacity 0.2s ease;
  /* state for button input */ }
  .submit-button:hover {
    cursor: pointer;
    opacity: 0.7; }

.dashboard-frame {
  margin: 3rem auto 7rem auto; }
  .dashboard-frame .dashboard-image {
    width: 100%;
    height: auto; }

.social {
  margin: 2rem auto 2.5rem auto;
  width: 25%;
  display: flex;
  justify-content: space-evenly; }
  .social > .icon {
    border: 0.3px solid rgba(150, 150, 150, 0.3);
    border-radius: 50%;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s; }
  .social > .icon > i {
    color: var(--blue);
    background-color: var(--blue); }
    .social > .icon > i:hover > i {
      color: white; }
    .social > .icon > i:hover {
      background-color: var(--blue);
      cursor: pointer; }

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--gray); }

.attribution > a {
  color: var(--blue); }

/* footer */
footer {
  margin-bottom: 8rem; }

@media only screen and (min-width: 375px) {
  html {
    font-size: 50%; }
  .container {
    width: 90%; }
  form.subscription {
    flex-direction: column;
    height: 13rem; }
    form.subscription .email,
    form.subscription .submit-button {
      width: 100%;
      margin: 0; }
    form.subscription .email:invalid ~ .submit-button {
      margin-bottom: -2rem; }
  span.error-message {
    top: 43.5rem;
    left: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6rem; } }

@media only screen and (min-width: 540px) {
  span.error-message {
    top: 38rem; } }

@media only screen and (min-width: 700px) {
  html {
    font-size: 55%; }
  form.subscription {
    flex-direction: row;
    align-items: center; }
    form.subscription .submit-button {
      margin: 0;
      margin-left: 1rem;
      width: 40%; }
    form.subscription span.error-message {
      left: -17rem;
      top: 42rem; }
    form.subscription .email:invalid ~ .submit-button {
      margin-bottom: 0; } }

@media only screen and (min-width: 1440px) {
  html {
    font-size: 62.5%; } }
